<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>VTVT Store - Quên mật khẩu</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="body-forgotPassword">
    <div class="forgotPassword-container">
        <h1>Quên Mật Khẩu</h1>
        <form id="resetForm">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Nhập email để xác nhận" name="email">
          </div>
          <button type="submit" class="forgotPassword-btn">KHÔI PHỤC</button>
          
          <!-- Thông báo kết quả -->
          <div id="resetMessage" class="reset-Message"></div>

        </form>
      <div class="return-btn">
        <a href="/login" class="text-decoration-none">Quay lại</a>
      </div>
    </div>
  </div>
     <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
     
  <script src="js/resetPasswordScript.js"></script>
  <script src="js/toastAlert.js"></script>
</body>

</html>