<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTVT Store - Đăng ký</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
    <div class="body-register">
        <div class="register-container">
            <h1>Đăng ký</h1>
            <form action="/register" method="post">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Vui lòng nhập Email" name="email">
                </div>

                <div class="input-group" style="position:relative;">
                    <label for="password">Nhập khẩu</label>
                    <input type="password" id="password" placeholder="Vui lòng nhập mật khẩu" name="password">
                    <i id="togglePassword" class="fa fa-eye toggle-password"></i>
                </div>

                <div class="input-group" style="position:relative;">
                    <label for="confirm-password">Xác nhận mật khẩu</label>
                    <input type="password" id="confirm-password" placeholder="Vui lòng xác nhận mật khẩu"
                        name="confirmpassword">
                    <i id="toggleConfirmPassword" class="fa fa-eye toggle-password"></i>

                </div>

                <div class="terms">
                    <input type="checkbox" id="terms" name="agreeTerms">
                    <label for="terms">Tôi đồng ý với <a href="#">Điều khoản dịch vụ</a> và <a href="#">Chính sách bảo
                            mật</a></label>
                </div>
                <% if (typeof message !=='undefined' && message) { %>
                    <div class="alert-message error">
                        <%= message %>
                    </div>
                    <% } %>


                        <button type="submit" class="register-btn">Đăng Ký</button>
            </form>

            <div class="or-divider">Hoặc đăng nhập bằng</div>

            <div class="social-register">
                <a href="/auth/google" class="social-btn google">
                    <img src='https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg' alt="google-icon"
                        class="google-logo">
                    <span class="btn-text">Đăng nhập bằng Google</span>
                </a>
            </div>

            <div class="login-text">Bạn đã có tài khoản?</div>
            <a href="/login" class="login-link">Đăng Nhập</a>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/togglePassword.js"></script>
</body>

</html>