<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VTVT Store - Xác thực tài khoản</title>

  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="body-otp">
    <div class="otp-container">
      <h1>Verify</h1>

      <p>Nhập mã OTP được gửi về Email </p>
      <form id="otpForm">
        <div class="otp-inputs">
          <input type="text" name="otp1" maxlength="1" required />
          <input type="text" name="otp2" maxlength="1" required />
          <input type="text" name="otp3" maxlength="1" required />
          <input type="text" name="otp4" maxlength="1" required />
          <input type="text" name="otp5" maxlength="1" required />
          <input type="text" name="otp6" maxlength="1" required />
        </div>
        <button type="submit" class="otp-btn">Xác nhận</button>
      </form>
      <!-- <div class="resend">
        Chưa nhận được mã? <a href="#">Gửi lại</a>
      </div> -->
    </div>
  </div>
  		<div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>

  <script src="js/otp.js"></script>
  <script src="/js/toastAlert.js"></script>
</body>

</html>